*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "DM Sans", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.wrapper {
  background-color: hsl(27, 66%, 92%);
}
@media screen and (min-width: 640px) {
  .wrapper {
    display: grid;
    place-content: center;
  }
}

.main-container {
  margin-inline: auto;
  padding: 1.5rem;
  max-width: 55rem;
}
@media screen and (min-width: 640px) {
  .main-container {
    margin-inline: initial;
  }
}
@media screen and (min-width: 460px) {
  .main-container {
    padding: initial;
  }
}
@media screen and (min-width: 800px) {
  .main-container {
    max-width: initial;
    width: 55rem;
  }
}

[class*=sr-only] {
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.balance__heading {
  font-weight: 500;
  font-size: 1.8rem;
}

.balance__value {
  font-weight: 700;
  font-size: 3rem;
}

.spending__heading {
  font-weight: 700;
  font-size: 2rem;
}
@media screen and (min-width: 800px) {
  .spending__heading {
    font-size: 3rem;
  }
}

.chart__day {
  font-size: 1.4rem;
}

.chart__bar::before {
  font-weight: 700;
  font-size: 1.4rem;
}

.summary__total {
  font-weight: 500;
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
  .summary__total {
    font-size: 1.8rem;
  }
}
.summary__total span {
  font-weight: 700;
  font-size: 3rem;
}
@media screen and (min-width: 800px) {
  .summary__total span {
    font-size: 5rem;
  }
}

.summary__comparaison {
  font-weight: 500;
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
  .summary__comparaison {
    font-size: 1.8rem;
  }
}
.summary__comparaison span {
  font-weight: 700;
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
  .summary__comparaison span {
    font-size: 1.8rem;
  }
}

.balance {
  background-color: hsl(10, 79%, 65%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}
@media screen and (min-width: 800px) {
  .balance {
    padding: 2rem 4rem;
    margin-bottom: 3rem;
  }
}

.balance__text-container {
  color: hsl(33, 100%, 98%);
}

@media screen and (min-width: 800px) {
  .balance__heading {
    margin-bottom: 1rem;
  }
}

.balance__value::before {
  content: "$";
}

.chart {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1rem;
  justify-content: end;
  margin-bottom: 2rem;
}
@media screen and (min-width: 800px) {
  .chart {
    gap: 2rem;
  }
}
@media screen and (min-width: 800px) {
  .chart {
    margin-bottom: 4rem;
  }
}

.chart__bar-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  gap: 0.3rem;
}
@media screen and (min-width: 640px) {
  .chart__bar-container {
    gap: 1rem;
  }
}

.chart__bar {
  background-color: hsl(10, 79%, 65%);
  height: var(--bar-height);
  border-radius: 0.5rem;
  transition: all 0.4s;
  position: relative;
}
.chart__bar:hover, .chart__bar:active {
  background-color: hsl(186, 34%, 60%);
}
.chart__bar::before {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: 130%;
  padding-block: 8px;
  border-radius: 0.4rem;
  text-align: center;
  content: var(--amount);
  background-color: hsl(25, 47%, 15%);
  color: hsl(33, 100%, 98%);
  transition: all 0.4s;
  display: none;
}
.chart__bar:is(:hover, :active)::before {
  display: block;
}

.chart__day {
  text-align: center;
  color: hsl(28, 10%, 53%);
}

.spending {
  background-color: hsl(33, 100%, 98%);
  border-radius: 2rem;
  padding: 1rem 2rem;
}
@media screen and (min-width: 800px) {
  .spending {
    padding: 2rem 4rem;
  }
}

.spending__heading {
  color: hsl(25, 47%, 15%);
  margin-bottom: 5rem;
}

.summary {
  padding-block: 4rem;
}

.summary__total > span::before {
  content: "$";
}

.summary__comparaison span::before {
  content: "+";
}

.summary__comparaison span::after {
  content: "%";
}

.summary {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.summary__total,
.summary__comparaison {
  color: hsl(28, 10%, 53%);
}
.summary__total span,
.summary__comparaison span {
  color: hsl(25, 47%, 15%);
  display: block;
}

.summary__comparaison {
  text-align: end;
}

.spending__dividor {
  color: hsl(28, 10%, 53%);
}

/*# sourceMappingURL=main.css.map */
