.wrapper {
    background-color: $cream;
    @media screen and (min-width: 640px) {
        display: grid;
        place-content: center;
    }
}
.main-container {
    margin-inline: auto;
    @media screen and (min-width: 640px) {
        margin-inline: initial;
    }
    padding: 1.5rem;
    @media screen and (min-width: 460px) {
        padding: initial;
    }
    max-width: 55rem;
    @media screen and (min-width: 800px) {
        max-width: initial;
        width: 55rem;
    }
}
