.balance__heading {
    font-weight: 500;
    font-size: 1.8rem;
}
.balance__value {
    font-weight: 700;
    font-size: 3rem;
}
.spending__heading {
    font-weight: 700;
    font-size: 2rem;
    @media screen and (min-width: 800px) {
        font-size: 3rem;
    }
}
.chart__day {
    font-size: 1.4rem;
}
.chart__bar::before {
    font-weight: 700;
    font-size: 1.4rem;
}
.summary__total {
    font-weight: 500;
    font-size: 1.5rem;
    @media screen and (min-width: 800px) {
        font-size: 1.8rem;
    }
    span {
        font-weight: 700;
        font-size: 3rem;
        @media screen and (min-width: 800px) {
            font-size: 5rem;
        }
    }
}
.summary__comparaison {
    font-weight: 500;
    font-size: 1.5rem;
    @media screen and (min-width: 800px) {
        font-size: 1.8rem;
    }
    span {
        font-weight: 700;
        font-size: 1.5rem;
        @media screen and (min-width: 800px) {
            font-size: 1.8rem;
        }
    }
}
